html {
    background-color: #47cadb;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #9564b6;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(220, 84, 84);
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 1px 3px 1px rgb(3, 91, 112);
  }
  h1{
    font: 2rem 'AmstelvarAlpha', sans-serif;
  font-style: oblique 23deg;
  }