.subtitle {
  font-size: large;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  margin: 20px;
  padding: 20px 0;
  color: #efa3ca;
  text-shadow: 1px 3px 1px rgb(255, 91, 112);
}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #cb05eF;
  text-shadow: 1px 3px 1px rgb(30, 91, 112);
}
h1{
  font: 2rem 'AmstelvarAlpha', sans-serif;
font-style: oblique 23deg;
}