.subtitle {
  margin: 20px;
  padding: 20px 0;
  color: #efa3ca;
  text-shadow: 1px 3px 1px rgb(255, 91, 112);
}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 1px 3px 1px rgb(3, 91, 112);
}
h1{
  font: 2rem 'AmstelvarAlpha', sans-serif;
font-style: oblique 23deg;
}